
body{
	font-family: "Comic Sans MS";
	color: purple;
	background-color: lightgreen;
}

p{
	color: blue;
	font-family: "Cambria";
}

nav{ 
	background-color: lightblue;
	padding: 30px;
}
nav a:hover {
	background-color: rgb(33, 123, 126);
	color: black;
}
nav a.active {
	background-color: #54ca9f;
	color: rgb(0, 0, 0);
  }
ul{
	list-style-type: none;
	margin:0;
	padding:0;
}
li{
	display: inline;
}
a{
	display: block;
	padding: 10px;
}
	
