
body{
	font-family: "Comic Sans MS";
	color: purple;
	background-color: lightgreen;
}
p{
	color: blue;
	font-family: "Cambria";
}

nav{ 
	background-color: lightblue;
	padding:20px;
}
nav a:hover {
	background-color: blue;
	color: black;
}
	
