<!doctype html>
<html>
    <head>
        <title>Pizza Website</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>

    <body>
        <header>
            <h1>Home</h1>
        </header>
        <nav>
            <ul>
                <li><a href="http://127.0.0.1:5000">Home</a></li>
                <li><a href="http://127.0.0.1:5000/pizza/1">Margherita</a></li>
                <li><a href="http://127.0.0.1:5000/pizza/2">Pepperoni</a></li>
                <li><a href="http://127.0.0.1:5000/pizza/3">Hawaiian</a></li>
                <li><a href="http://127.0.0.1:5000/pizza/4">Vegetarian</a></li>
            </ul>
        </nav>

        <main>
            <!--jinja-->
            {%block content%}{%endblock%}
        </main>

        <footer>
            <!--&copy; is interpreted as the copyright symbol-->
            <p>The footer &copy; 2024</p>
        </footer>
    </body>
</html>